@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-primary: #2563EB;
    --color-secondary: #7C3AED;
}

body {
    font-family: var(--font-sans);
    background-color: #f9fafb;
}